/* TODO: add your colors to style the card */

.card {
  padding: 1em;
  margin: 1em;
  border-radius: 6px;
  width: 230px;
  cursor: pointer;
  /* you can use an accent color for the border */
  border: solid 1px #000; 
  background-color: #fff;
}

.card img {
  width: 230px;
}

.card:hover {
  border: none;
  /* you can use your accent color again */
  border-right: solid 6px #000;
  border-bottom: solid 6px #000;
}

.category {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  /* this could be a spot for an accent text color */
  /* make sure the text is still readable! */
  color: #000; 
}

.name {
  font-size: 36px;
  line-height: 1.2;
  padding-bottom: 1em;
}

.time, .rating {
  font-family: sans-serif;
  font-size: 14px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  /* apply a background color */
  /* make sure the text still has good contrast! */
  background: #fff;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

header h1 {
  font-family: fantasy;
  font-weight: normal;
  /* the border below the header could be an accent color */
  border-bottom: 6px dotted #000;
}

header a {
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  /* the ACTUAL RECIPES link text color could be an accent color  */
  color: #000;
  padding: 0.5em;
  border-radius: 4px;
}

header a:hover {
  /* you could use an accent color for the hover underline color */
  text-decoration: underline #000;
  text-decoration-thickness: 6px;
}
